<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duoduoapp.yqlibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <service
            android:name="com.duoduoapp.yqlibrary.service.SpeedUpService"
            android:enabled="true"
            android:exported="true"
            android:priority="1000">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.kaku.weac.service.SpeedUpService" />
            </intent-filter>
        </service>
    </application>
</manifest>



